.carousel-item img {
   max-height: 515px;
}

h1 {
   padding: 15px;
   font-family: 'Over the Rainbow', cursive;
   color: grey;
}

#carousel {
   border: grey;
   border-style: inset;
   border-width: thick;
}