.carousel-item img {
   max-height: 515px;
}

h1 {
   padding: 15px;
   font-family: 'Over the Rainbow', cursive;
   color: grey;
}

#carousel {
   border: grey;
   border-style: inset;
   border-width: thick;
}

a.nav-link {
   color: lightgray;
}

body {
   color: grey;
}

img {
   border:grey;
   border-style: groove;
}

.tab-content {
   border: 3px solid #DDD;
   border-top: none;
   padding: 20px;
}

#myTab {
   background-color: grey;
   color:white;
}

.nav-pills > li > a.active {
   background-color: #239B56  !important;
}


